<div class="container-fluid mt-5 d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="container mt-5 d-flex flex-column justify-content-center align-items-center text-center">
        <div style="margin: 30px 0 10px;">
            <h2>conatct section</h2>
            <div class="d-flex justify-content-center align-items-center">
                <div class="bord"></div>
                <i class="fa fa-star"></i>
                <div class="bord"></div>
            </div>
        </div>
        <div class="row text-start m-5 form">
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" id="userName" placeholder="userName">
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" id="userAge" placeholder="userAge">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="userEmail" placeholder="userEmail">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="userPassword" placeholder="userPassword">
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </div>
</div>