<div class="container-fluid mt-5 d-flex justify-content-center align-items-center" style="background-color: #1abc9c; height: 80vh;">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center">
        <div style="margin: 30px 0 10px;">
            <h2>about component</h2>
            <div class="d-flex justify-content-center align-items-center">
                <div class="bord"></div>
                <i class="fa fa-star"></i>
                <div class="bord"></div>
            </div>
        </div>
        <div class="row text-start">
            <p class="col-lg-6">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            <p class="col-lg-6">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
    </div>
</div>